html, body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    width: 100%;
    
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a:hover,
a:focus {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

hr {
    border-color: #ffc266;
    border-width: 5px;
    max-width: 100%;
}

.container-h1 {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 50px auto;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    
}

.btn {
    color: #fff;
    background-color: #182c39;
    margin: 20px auto;
    border-radius: 0;
    font-weight: 500;
    display: table;
    padding: 10px;

    
}

.btn:hover{
    color: #182c39;
    background-color: transparent;
    border: 1px solid #182c39;
}


.hr-h3s {
    border: 3px solid #E94B3C;
    width: 70px;
    margin: 0 auto 35px auto;
}


textarea {
    resize: none;
}

section {
    align-items: center;
    padding: 50px 60px;
    
}
.bg-section h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    color: #ffc266;
    background-color: #182c39;
    margin: 50px 0;
    padding: 25px 20px;
    border-radius: 50px;
}

.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    -moz-animation-name: slide;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}